* {
    margin: 0;
    font-family: arial;
    border: border-box;
}

body {
    margin-bottom: 20px;
    background-color: black;
}

/** header **/
.main {
    background-color: rgba(0,0,0,0.8);
    background-blend-mode: darken;
    background-image: url(hero-img.jpeg);
    background-size: cover;
    height: auto;
    width: 100%;
}

.navbar {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    margin: 5px;
    background-image: url(netflix2.png);
    background-size: cover;
    min-height: 40px;
    width: 148px;
}

button {
    min-height: 30px;
    background-color: #ffffff19;
    border: 1px solid grey;
    color: white;
    font-size: 15px;
    border-radius: 5px; 
    margin-top: 20px;
    gap: 10px;
}

.lang-button i {
    margin-right: 6px;
}

.fa-caret-down {
    font-size: 8px;
    margin-left: 8px;
}

.sign-button {
    font-weight:bold;
    min-width: 80px;
    background-color: red;
    border: 0;
    transition: background-color 0.3s ease;
}


.sign-button:hover {
    background-color: rgb(143, 41, 41);
}

.lang-button:active {
    border: 2px solid white;
}


.hero-content {
    width: 100%;
    height: auto;
    margin: 0px 40px 80px 0px;
    text-align: center;
    color: white;
}

.hero-head {
    height: auto;
    max-width: 100%;
    margin-bottom: 16px;
    margin-top: 150px;
    font-size: clamp(30px, 5vw, 60px);
}

.price {
    font-weight: bold;
    margin: 10px;
    height: auto;
    max-width: 100%;
    margin-bottom: 32px;
    font-size: 20px;
}

/** box1 **/
.box1 input {
    height: 45px;
    width: 30%;
    padding-left: 15px;
    color: white;
    background-color: #ffffff06;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid gray;
    flex-wrap: wrap;
}

.fill:focus {
    border: 2px solid white;
    outline: none;
}

.get {
    flex-wrap: wrap;
    height: 45px;
    width: 10%;
    font-size: 25px;
    background-color: rgb(253, 17, 17);
    margin-bottom: 20px;
}

.trending {
    height: auto;
    width: 100%;
    border-radius: 40% 40% 0 0;
    border-bottom: 0;
    border-top: 5px solid red;
    background: linear-gradient(to bottom, rgb(20,20,80), black);
    position: relative;
    z-index: 1;
}

.trending-content {
    margin: 50px 0 60px 50px;
    color: white;
    font-size: clamp(25px, 5vw, 10px);    
    text-align: left;
    position: relative;
    z-index: 2;
}

.background {
    margin-top: -100px;
    background-color: black;
    padding-bottom: 50px;
}

.movie-all {
    margin-top: 55px;
    display: flex;
    justify-content: space-evenly;
}

.movie-all div img{
    height: auto;
    max-width: 90%;
    border-radius: 10px;
    margin-top: 45px;
}

.next button {
    margin-top: 60px;
    margin-left: -25px;
    height: 120px;
    width: 24px;
    border: 0;
    background-color: #ffffff1a;
    border-radius: 8px;
}

.next button i {
    margin-left: -6px;
    font-size: 20px;
}

.movie-all img:hover{
    height: auto;
    max-width: 100%;
    transition: 0.3s;
}

.next button:hover {
    background-color: #ffffff4e;
}

.movie-all div {
    position: relative;
}

.number {
    position: absolute;
    left: -25px;
    bottom: -10px;
    font-size: 100px;
    font-weight: bolder;
    -webkit-text-stroke: 2px grey;
    color: rgb(65,65,65);
    -webkit-text-fill-color: black;
    z-index: 2;
}

.join-head {
    color: white;
    margin-top: 80px;
    padding: 20px 60px;
}

.join {
    display: flex;
    justify-content: space-evenly;
}

.join div {
    padding: 24px 16px 28px 16px;
    height: 200px;
    width: 300px; 
    border-radius: 20px;
    color: white;
    background: linear-gradient(135deg, #1d1f4f, #210d19);
    
}

.join h3 {
    font-size: 24px;
}

.join p {
    color: #ffffffb3;
    font-weight: bold;
}

.icon {
    margin-left: 230px;
    margin-top: 40px;
}

.question {
    margin-top: 80px;
    color: white;
    padding: 100px;
}

.question div button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    height: 80px;
    width: 100%;
    background-color: #ffffff34;
    text-align: left;
    border: 0;
    border-radius: 0;
    font-size: 24px;
    font-weight: lighter;
}

.question i {
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
    transition: transform 0.3s ease;
}

.question i:active {
    transform: rotate(45deg);
}

.question div button:hover {
    background-color: #ffffff41;
}

.box2 {
    color: white;
    margin-top: 100px;
    text-align: center;
    justify-content: center;
}

.box2 input{
    height: 50px;
    width: 560px;
    background-color: #ffffff10;
}

.get {
    height: 60px;
    width: 210px;
    border: 0;
}

footer {
    background-color: black;
    color: #ffffffb3;
    height: 420px;
}

.foot-panel1 {
    padding-left: 100px;
    font-size: 16px;
}

.foot-panel2{
    display: flex;
    justify-content: space-evenly;
    margin-left: -180px;
}

ul a{
    margin-top: 20px;
    color: #ffffffb3;
    display: block;
    font-size: 14px;
}

.languages2 {
    margin-top: 40px;
    padding-left: 95px;
}

.copyright {
    font-size: 14px;
    margin-top: 35px;
    padding-left: 95px;
}

.protected {
    font-size: 13px;
    color: #ffffff80;
    margin-top: 35px;
    padding-left: 95px;
}

@media (max-width: 768px) {
    .logo {
        height: auto;
        width: 90px;
        margin: 30px 10px 0 0;
    }
    
    
    .hero-head {
        margin-top: 0;
    }
    
    .hero-content {
        padding-top: 80px;
    }
    
    .box1 input {
        width: 80%;
        margin: 10px 0 0;
    }

    .movie-all {
        align-items: center;
        flex-wrap: wrap;
    }

    .join-head {
        font-size: clamp(15px, 5vw, 20px);
        padding: 0 15px 15px 25px;
    }
    
    .join {
        flex-wrap: wrap;
        padding: 0 ;
        gap: 20px;

    }

    .question {
        padding: 25px;
    }

    .box2 p {
        flex-wrap: wrap;
        padding: 0;
        margin: 5px 10px;
    }

    .box2 input {
        width: 80%;
        margin: 10px;
    }

    .get {
        height: 50px;
        width: 40%;
        display: block;
        margin-left: 40px;
    }

    .languages2 {
        padding: 0;
        margin-left: 40px;
    }
    
    .foot-panel1 {
        margin-left: 40px;
        padding: 0;
    }

    .foot-panel2 {
        margin: 0;
        display: block;
    }

    .copyright {
        padding: 0;
        margin-left: 40px;
    }

    .protected {
        padding: 0 0 50px;
        margin: 40px;
    }
}